In [1]:
import pandas as pd

- using heuristic 1

In [7]:
data = pd.read_csv('./train_inference4.csv')
data

,Unnamed: 0,tweet_id,text,location,raw_prediction,WER,prediction
0,1,ID_1001136696589631488,"Flash floods struck a Maryland city on Sunday,...",Maryland,Maryland,0.0,Maryland
1,2,ID_1001136950345109504,State of emergency declared for Maryland flood...,Maryland,Maryland,0.0,Maryland
2,3,ID_1001137334056833024,Other parts of Maryland also saw significant d...,Baltimore Maryland,Maryland Baltimore Maryland,0.0,Baltimore Maryland
3,4,ID_1001138374923579392,"Catastrophic Flooding Slams Ellicott City, Mar...",Ellicott City Maryland,El ##lic ##ott City Maryland,0.0,Ellicott City Maryland
4,5,ID_1001138377717157888,WATCH: 1 missing after flash #FLOODING devasta...,Ellicott City Maryland,El ##lic ##ott City Maryland,0.0,Ellicott City Maryland
...,...,...,...,...,...,...,...
16443,73066,ID_916080760276299776,Mexico City: at least a thousand buildings dam...,Mexico City,Mexico City,0.0,Mexico City
16444,73068,ID_916125408059445248,Rescue workers recover the body of the last pe...,Mexico City,Mexico City,0.0,Mexico City
16445,73069,ID_916135932285341696,Donate from Facebook to Mexico Earthquake Reli...,Mexico,Mexico,0.0,Mexico
16446,73070,ID_916146805347356672,We are helping our clients in Mexico recover f...,Mexico,Mexico,0.0,Mexico
16447,73071,ID_916205068281462784,Thanks @RFC_Charity @UNICEFMexico for the supp...,Mexico,Mexico,0.0,Mexico

In [10]:
data_filtered = data[data['WER'] != 0]
data_filtered = data_filtered[data_filtered['location'].notna()]
data_filtered = data_filtered.drop(columns=['Unnamed: 0', 'tweet_id'])
data_filtered = data_filtered.reset_index(drop=True)

In [11]:
data_filtered

,text,location,raw_prediction,WER,prediction
0,Howard County Executive Allan Kittleman said M...,Howard,Howard County,1.000000,Howard County
1,RT @CristianiCasco: State of Emergency declare...,Maryland,El ##lic ##ott ##C ##ity Maryland,1.000000,EllicottCity Maryland
2,Please pray for a brave vet who is missing in ...,Ellicott Maryland,Maryland El ##lic ##ott City Maryland,0.500000,Ellicott City Maryland
3,"Its even worse: Ellicott City, Maryland, recov...",Ellicott City Maryland Patapsco River,El ##lic ##ott City Maryland Pat ##ap ##sco,0.200000,Ellicott City Maryland Patapsco
4,Have you seen Eddison Hermond? The Army Nation...,Ellicott Maryland,El ##lic ##ott City Maryland,0.500000,Ellicott City Maryland
...,...,...,...,...,...
2595,National Guard Plans Relief Efforts as Hurrica...,Puerto Ri,Puerto R,0.500000,Puerto
2596,Mexico City earthquake toll hits 361; 8 still ...,Mexico,Mexico City,1.000000,Mexico City
2597,RT @tomtravel2: Detailed hotel damage assessme...,Caribbean,NaN,1.000000,
2598,Still havent heard from some family members- l...,Sabana Grande puertorico,Sa ##bana Grande pu ##ert ##ori ##co,0.666667,Grande Sabana puertorico
2599,.@AndersonCooper anchors coverage from San Jua...,Puerto Rico San Juan,San Juan Puerto Rico,0.500000,Juan Puerto Rico San

In [12]:
data_filtered.to_csv("problematic_df.csv")

- using heuristic 1

In [13]:
data = pd.read_csv('./train_inference5.csv')
data

,Unnamed: 0,tweet_id,text,location,raw_prediction,WER,prediction
0,1,ID_1001136696589631488,"Flash floods struck a Maryland city on Sunday,...",Maryland,Maryland,0.0,Maryland
1,2,ID_1001136950345109504,State of emergency declared for Maryland flood...,Maryland,Maryland,0.0,Maryland
2,3,ID_1001137334056833024,Other parts of Maryland also saw significant d...,Baltimore Maryland,Maryland Baltimore Maryland,0.0,Baltimore Maryland
3,4,ID_1001138374923579392,"Catastrophic Flooding Slams Ellicott City, Mar...",Ellicott City Maryland,El ##lic ##ott City Maryland,0.0,Ellicott City Maryland
4,5,ID_1001138377717157888,WATCH: 1 missing after flash #FLOODING devasta...,Ellicott City Maryland,El ##lic ##ott City Maryland,0.0,Ellicott City Maryland
...,...,...,...,...,...,...,...
16443,73066,ID_916080760276299776,Mexico City: at least a thousand buildings dam...,Mexico City,Mexico City,0.0,Mexico City
16444,73068,ID_916125408059445248,Rescue workers recover the body of the last pe...,Mexico City,Mexico City,0.0,Mexico City
16445,73069,ID_916135932285341696,Donate from Facebook to Mexico Earthquake Reli...,Mexico,Mexico,0.0,Mexico
16446,73070,ID_916146805347356672,We are helping our clients in Mexico recover f...,Mexico,Mexico,0.0,Mexico
16447,73071,ID_916205068281462784,Thanks @RFC_Charity @UNICEFMexico for the supp...,Mexico,Mexico,0.0,Mexico

In [14]:
data_filtered = data[data['WER'] != 0]
data_filtered = data_filtered[data_filtered['location'].notna()]
data_filtered = data_filtered.drop(columns=['Unnamed: 0', 'tweet_id'])
data_filtered = data_filtered.reset_index(drop=True)

In [15]:
data_filtered

,text,location,raw_prediction,WER,prediction
0,Howard County Executive Allan Kittleman said M...,Howard,Howard County,1.0,Howard County
1,RT @CristianiCasco: State of Emergency declare...,Maryland,El ##lic ##ott ##C ##ity Maryland,1.0,EllicottCity Maryland
2,Please pray for a brave vet who is missing in ...,Ellicott Maryland,Maryland El ##lic ##ott City Maryland,0.5,Ellicott City Maryland
3,I liked a @YouTube video CRAZY MARYLAND FLOOD...,Ellicott City MARYLAND Maryland,MA ##R ##Y ##LA ##ND El ##lic ##ott City Maryland,0.5,Ellicott City Maryland MARYLAND
4,"Its even worse: Ellicott City, Maryland, recov...",Ellicott City Maryland Patapsco River,El ##lic ##ott City Maryland Pat ##ap ##sco,0.2,Ellicott City Maryland Patapsco
...,...,...,...,...,...
2453,Im encouraging all Louisianans to participate ...,Louisianans,Louisiana,1.0,Louisiana
2454,RT @NYJewishWeek: Puerto Ricoâ€™s Jewish communi...,Puerto Rico,Puerto Rico San Juan,1.0,Puerto Rico San Juan
2455,National Guard Plans Relief Efforts as Hurrica...,Puerto Ri,Puerto R,1.5,Puerto R R r
2456,Mexico City earthquake toll hits 361; 8 still ...,Mexico,Mexico City,1.0,Mexico City
2457,RT @tomtravel2: Detailed hotel damage assessme...,Caribbean,NaN,1.0,

In [16]:
data_filtered.to_csv("problematic_df5.csv")